.b {
    background-color: purple;
    color: whitesmoke;
    padding: 15px 35px;
    text-align: center;
    border-radius: 10px;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.t {
    font-size: 28px;
    background-image: linear-gradient(to right, white, rgb(80, 78, 81));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
    padding: 13px;
    border-radius: 10px;
}

body {
    text-align: center;
    background-color:linen;
    justify-content: center;
}

.tab {
    background-color: rgb(6, 6, 6);
    padding: 10px;
    border-radius: 10px;
    border-width: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;

}

.s {
    color: whitesmoke;
    padding: 15px 35px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    background-color: deeppink;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.c {
    color: whitesmoke;
    padding: 15px 35px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    background-color: deeppink;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-head {
    margin: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    font-size:65px;
}